<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  
<!--   Config de SQLSERVER: -->
<!--   <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property> -->
<!--   <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property> -->
<!--   <property name="hibernate.connection.username">pcarle</property> -->
<!--   <property name="hibernate.connection.password">654321</property> -->
<!--   <property name="hibernate.connection.url">jdbc:sqlserver://localhost;databaseName=ventadirecta;instanceName=SQLEXPRESS;</property> -->
  
<!--   Config de MySQL -->
  
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.username">ventadirecta</property>
  <property name="hibernate.connection.password">ventadirecta</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/VentaDirecta</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <mapping resource="com/app/model/Cliente.hbm.xml"/>
  <mapping resource="com/app/model/Pedido.hbm.xml"/>
  <mapping resource="com/app/model/Direccion.hbm.xml"/>
  <mapping resource="com/app/model/Movil.hbm.xml"/>
  <mapping resource="com/app/model/Usuario.hbm.xml"/>
  <mapping resource="com/app/model/CargaDetalle.hbm.xml"/>
  <mapping resource="com/app/model/CargaHorarioChofer.hbm.xml"/>
  <mapping resource="com/app/model/CargaMovil.hbm.xml"/>
  <mapping resource="com/app/model/Chofer.hbm.xml"/>
  <mapping resource="com/app/model/ItemPedido.hbm.xml"/>
  <mapping resource="com/app/model/Jornada.hbm.xml"/>
  <mapping resource="com/app/model/Localidad.hbm.xml"/>
  <mapping resource="com/app/model/Producto.hbm.xml"/>
  <mapping resource="com/app/model/Provincia.hbm.xml"/>
  <mapping resource="com/app/model/ReferenciaMovil.hbm.xml"/>
  <mapping resource="com/app/model/Sucursal.hbm.xml"/>
  <mapping resource="com/app/model/Turno.hbm.xml"/>
  <mapping resource="com/app/model/ViaPago.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
